<table>
    <tr>
        <th>id</th>
        <th>usuario</th>
        <th>email</th>
        <th>fecha de alta</th>
        <th>acciones</th>
    </tr>
    
    <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.fecha_alta }}</td>
        <td>
            <div class="flex flex-wrap gap-4 justify-center">
                <p-button
                    class="btn btn-info"
                    icon="pi pi-pencil"
                    severity="info"
                    aria-label="Editar"
                />
                <p-button
                    class="btn btn-danger"
                    icon="pi pi-trash"
                    (click)="confirmDelete(usuario.id)"
                    aria-label="Delete"
                />
            </div>
        </td>
    </tr>    
</table>